body {
    margin: 0;
    background: #222;
    color: #fff;
    font-family: system-ui, sans-serif;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


main {
    text-align: center;
    margin-top: 10px;
}

canvas {
    border: 2px solid #fff;
    margin-top: 10px;
    background: #a3d5ff;
}